.ripple-wrap {
    position: relative;
    overflow: hidden;
}

.ripple-div {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.ripple-div.touchstart {
    background: blue;
    transition-property: width, height, background-color;
    transition-duration: 1.5s;
    transition-timing-function: ease-in;
    /* opacity: 0; */
    background-color: transparent;
}

.ripple-div.touchend {
    transition-property: width, height, background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    background-color: transparent !important;
}
